*, body, html, ul, li, p {
	margin: 0;
	padding: 0;
	color: #444;
	font-family: Arial;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a, a:hover; a:active, a:visited {
	color: inherit;
	margin: 0;
	padding: 0;
	text-decoration: inherit;
}

.clear{
	clear: both;
}